@model Snake.Models.API.SnakeStatusDataModel


@{
    Layout = null;
}

<table>
    <tr>
        <td colspan="2">
            <h3>Snake statistic </h3>
        </td>

    </tr>
    <tr>
        <td style="text-indent:20px;">Moving: </td>
        <td>
            @Html.Raw(Model.IsSnakeMove ? Model.run : Model.no_run)
        </td>
    </tr>
    <tr>
        <td style="text-indent:20px;">Alive: </td>
        <td>
           @Html.Raw(Model.IsSnakeAlive ? Model.alive : Model.dead)
        </td>
    </tr>
    <tr>
        <td style="text-indent:20px;">Size: </td>
        <td>
            @Model.SnakeSize
        </td>
    </tr>
    <tr>
        <td style="text-indent:20px;">Score: </td>
        <td>
            @Model.SnakeScore
        </td>
    </tr>
    <tr>
        <td style="text-indent:20px;">Time: </td>
        <td>
            @Model.SnakeTime
        </td>
    </tr>
    <tr>
        <td colspan="2">========================== </td>
    </tr>
</table>